---
import Layout from "../layouts/Layout.astro";
import Profile from "../components/Profile";
---

<Layout title="0x4richard.eth - Richard Hao">
  <main class="flex justify-center">
    <Profile />
  </main>
</Layout>
